<p>
  <strong>Body:</strong>
  <%= @answer.question.body %>
</p>

<p>
  <b>Answer:</b>
  <%= @answer.body %>
</p>

<p>
  <b>Correct:</b>
  <%= @answer.correct %>
</p>

<%= link_to 'Edit', edit_admin_answers_path(@answer) %>
<%= link_to 'Back', admin_question_path(@answer.question) %>
