<p>
  <strong> Title: </strong>
  <%= @test.title %>
</p>

<p>
  <%= link_to 'New question',  new_test_question_path(@test) %>
</p>

<p>
  <strong> Level: </strong>
  <%= @test.level %>
<p>


<p>
  <strong>
    <%= @test.title %> Questions:
  </strong>
</p>

<table>
  <tr>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>
<p>
  
  <%= render partial: 'questions/question', collection: @test.questions %>

</p>

</table>

<%= link_to 'Edit', edit_admin_test_path(@test) %>
<%= link_to 'Back', admin_tests_path %>
